In [48]:
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
%reload_ext autoreload

In [43]:
from read_functions import *
from pickle_functions import *

In [4]:
beer_advocate_path = '../datas/BeerAdvocate/'
matched_beer_data_path = '../datas/matched_beer_data/'
rate_beer_path = '../datas/RateBeer/'

advocate_beers_path = beer_advocate_path + 'beers.csv'
advovate_breweries_path = beer_advocate_path + 'breweries.csv'
advocate_ratings_path = beer_advocate_path + 'ratings.txt'
advocate_reviews_path = beer_advocate_path + 'reviews.txt'
advocate_users_path = beer_advocate_path + 'users.csv'

matched_beer_beers = matched_beer_data_path + 'beers.csv'
matched_beer_breweries = matched_beer_data_path + 'breweries.csv'
matched_beer_ratings_ba = matched_beer_data_path + 'ratings_ba.txt'
matched_beer_ratings_rb = matched_beer_data_path + 'ratings_rb.txt'
matched_beer_ratings = matched_beer_data_path + 'ratings.csv'
matched_beer_users_approx = matched_beer_data_path + 'users_approx.csv'
matched_beer_users = matched_beer_data_path + 'users.csv'

rate_beer_beers = rate_beer_path + 'beers.csv'
rate_beer_breweries = rate_beer_path + 'breweries.csv'
rate_beer_users = rate_beer_path + 'users.csv'

contries_path = '../datas/countries/countries.csv'

In [5]:
df_advocate_beers = pd.read_csv(advocate_beers_path, sep=',')
df_advocate_breweries = pd.read_csv(advovate_breweries_path, sep=',')
df_advocate_ratings = read_txt(advocate_ratings_path)
df_advocate_reviews = read_txt(advocate_reviews_path)
df_advocate_users = pd.read_csv(advocate_users_path, sep=',')

In [6]:
df_rate_beer_beers = pd.read_csv(rate_beer_beers, sep=',')
df_rate_beer_breweries = pd.read_csv(rate_beer_breweries, sep=',')
df_rate_beer_users = pd.read_csv(rate_beer_users, sep=',')

In [7]:
df_matched_beer_beers = pd.read_csv(matched_beer_beers, sep=',')
df_matched_beer_breweries = pd.read_csv(matched_beer_breweries, sep=',')
df_matched_beer_ratings_ba = read_txt(matched_beer_ratings_ba)
df_matched_beer_ratings_rb = read_txt(matched_beer_ratings_rb)
df_matched_beer_ratings = pd.read_csv(matched_beer_ratings, sep=',')
df_matched_beer_users_approx = pd.read_csv(matched_beer_users_approx)
df_matched_beer_users = pd.read_csv(matched_beer_users)

In [53]:
df_advocate_users['joined'] = pd.to_datetime(df_advocate_users['joined'], unit='s')

In [54]:
df_advocate_users

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,2008-01-07 10:59:12,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,2007-10-08 09:59:28,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,2005-05-18 09:59:28,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,2004-11-25 10:59:12,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,2003-11-20 11:00:16,Northern Ireland
...,...,...,...,...,...,...
153699,1,1,everman.532342,Everman,2010-11-30 10:59:12,"United States, California"
153700,1,1,justin0001.352175,Justin0001,2009-07-23 09:59:28,"United States, California"
153701,1,0,kyungsup.982216,Kyungsup,2015-05-02 09:59:28,NaN
153702,1,1,joetex.800347,JoeTex,2014-05-16 09:59:28,"United States, California"
153703,1,1,alexmatt86.313751,Alexmatt86,2009-03-29 09:59:28,"United States, California"

## Store dataFrame into picke format

In [31]:
#Create dataframes list for advocate
datas_advocate = [df_advocate_beers,df_advocate_breweries,df_advocate_ratings,df_advocate_reviews,df_advocate_users]
datas_advocate_names = ['df_advocate_beers','df_advocate_breweries','df_advocate_ratings','df_advocate_reviews','df_advocate_users']

In [36]:
#Create dataframes list for matched beer
datas_matched_beer = [df_matched_beer_beers,df_matched_beer_breweries,df_matched_beer_ratings_ba,df_matched_beer_ratings_rb,df_matched_beer_ratings,df_matched_beer_users_approx,df_matched_beer_users]
datas_matched_beer_names = ['df_matched_beer_beers','df_matched_beer_breweries','df_matched_beer_ratings_ba','df_matched_beer_ratings_rb','df_matched_beer_ratings','df_matched_beer_users_approx','df_matched_beer_users']

In [37]:
#Create dataframes list for RateBeer
datas_rate_beer = [df_rate_beer_beers,df_rate_beer_breweries,df_rate_beer_users]
datas_rate_beer_names = ['df_rate_beer_beers','df_rate_beer_breweries','df_rate_beer_users']

In [47]:
#Saving datas
save_datas('RateBeer', datas_rate_beer,datas_rate_beer_names)
save_datas('matched_beer_data', datas_matched_beer,datas_matched_beer_names)

Saving df_rate_beer_beers...
Saving df_rate_beer_breweries...
Saving df_rate_beer_users...
Saving df_matched_beer_beers...
Saving df_matched_beer_breweries...
Saving df_matched_beer_ratings_ba...
Saving df_matched_beer_ratings_rb...
Saving df_matched_beer_ratings...
Saving df_matched_beer_users_approx...
Saving df_matched_beer_users...